/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
 
@mixin rotation($angle, $x:0%, $y:0%) {
  transform: rotate($angle);
  transform-origin: $x $y;
  -ms-transform: rotate($angle); /* IE 9 */
  -ms-transform-origin: $x $y; /* IE 9 */
  -webkit-transform: rotate($angle); /* Safari and Chrome */
  -webkit-transform-origin: $x $y; /* Safari and Chrome */
  -moz-transform: rotate($angle); /* Firefox */
  -moz-transform-origin: $x $y; /* Firefox */
  -o-transform: rotate($angle); /* Opera */
  -o-transform-origin: $x $y; /* Opera */
}

@mixin transition($properties) {
  transition: $properties;
  -moz-transition: $properties; /* Firefox 4 */
  -webkit-transition: $properties; /* Safari and Chrome */
  -o-transition: $properties; /* Opera */
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: 'Titillium Pro', 'Helvetica Neue', Helvetica;
}

a, a:visited {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #09e;
}

.container {
  padding: 100px 100px 100px 350px;
}

section#contact {
  background-color: #676c80;
  color: white;
}

.content {
  min-height: 500px;
}

h1, h2, h3 {
  font-weight: 200;
}

h1 {
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  font-size: 48px;
  line-height: 96px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

nav#menu {
  display: block;
  position: fixed;
  top: 0;
  background-color: #484b5a;
  box-shadow: 2px 1px 2px rgba(#555, 0.45);
  height: 80%;
  min-height: 500px;
  max-height: 600px;
  width: 268px;
  font-size: 20px;
  padding-top: 40px;
  @include rotation(9deg);
  ul#social-icons {
    position: absolute;
    bottom: 60px;
    right: 32px;
    list-style: none;
    padding: 0;
    width: 148px;
    li {
      display: inline;
    }
    li a {
      span {
        display: none;
      }
      i {
        font-size: 36px;
      }
      margin: 8px;
      padding: 6px;
      border-radius: 24px;
      color: #484b5a;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 48px;
      text-align: center;
      background-color: rgba(#f9f9f9, 0.75);
      opacity: 0.5;
      @include transition(all 0.5s cubic-bezier(0.720, 0.100, 0.370, 0.900));
      &:hover {
        @include rotation(-16deg, 50%, 0%);
        opacity: 0.8;
      }
    }
  }
  a.page-marker {
    display: block;
    width: 126px;
    text-align: right;
    color: #333;
    background-color: rgb(162, 168, 177);
    padding: 5px 12px;
    margin: 12px 0 8px 120px;
    box-shadow: 2px 1px 2px rgba(#555, 0.45);
    @include transition(all 0.6s);
    &:hover {
      width: 152px !important;
      color: white;
      background-color: #09e;
      box-shadow: 4px 6px 5px rgba(51, 51, 51, 0.6);
    }
  }
}

#contact-form {
  fieldset {
    border: none;
  }
  input, textarea {
    color: white;
    font: 'Helvetica Neue', sans-serif;
    font-size: 14px;
  }
  .field {
    input[type="text"], textarea {
      width: 100%;
      min-height: 36px;
      vertical-align: middle;
      background-color: rgba(white, 0.05);
      color: white;
      border-color: rgba(white, 0.3);
      border-width: 0;
      border-bottom-width: 1px;
      padding: 4px;
      @include transition(all 0.5s);
      &:focus {
        background-color: rgba(white, 0.15);
        border-color: rgba(white, 0.6);
        outline: none;
      }

    }
    margin-bottom: 20px;
  }
  .action {
    text-align: right;
    input[type="submit"] {
      background-color: darken(#676c80, 6%);
      color: white;
      border: 0;
      padding: 12px 20px;
      cursor: pointer;
      @include transition(all 0.5s);
      &:hover {
        background-color: darken(#676c80, 12%);
      }
    }
  }
}

